
@font-face {
    font-family: Iransans;
    src: url(../font-farsi/AIranianSans.ttf); format:('ttf');
}
@font-face {
    font-family: hayat;
    src: url(../font-farsi/A.Hayat.01.ttf); format:('ttf');
}
@font-face {
    font-family: shiraz;
    src: url(../font-farsi/Shiraz.ttf); format:('ttf');
}
@font-face {
    font-family: titr;
    src: url(../font-farsi/TitrBold.ttf); format:('ttf');
}
// $color-white: white;
// $color-blue: rgb(53, 53, 250);
// $color-skyblue:rgb(104, 202, 241);
@keyframes circle{
    0%{
    transform: translate(0px);
    }
    50%{
        transform: translate(-100px)
    }
    100%{
        transform: translate(0px);
    }
}
html{
    scroll-behavior: smooth;
}